html {
    cursor:none;
}

.bar {
    background: black;
    transition: top 0.5s;
    -webkit-transition: top 0.5s; /* Safari */
    position: fixed;
    top: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    border: 1px white;
}

#cursor {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: 0px;
    top: 50%;
    mix-blend-mode: difference;
    background-color: transparent;
    z-index: 999;
    border: 2px solid greenyellow;
    backdrop-filter: blur(6px);
    height: 100px;
    width: 100px;
    transition: all 300ms ease-out;
  }
  

#landing {
    background-color: black;
    height:auto;
    width:100%;
    aspect-ratio: 16/9;
    position:absolute;
    left:0;
    top:0;
    margin:0;
}  

#landingvideo {
    z-index:-1;
    width:100%;
    height:100%;
    opacity:1;
    transition: opacity 1s;
    -webkit-transition: opacity 1s; /* Safari */
}

#landingtitle {
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s; /* Safari */
    bottom:-7%;
    left:5%;
    font-size:400px;
    position:absolute;
    color:aliceblue;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 1);
    pointer-events: none;

}

#landingarrow {
    font-size:20px;
    right:5%;
    top:-10%;
    color:aliceblue;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 1);
    position:absolute;
    pointer-events: none;
}

#blurbottom {
    position: fixed;
    bottom: 0;
    height: 15%;
    left: 0;
    width: 100%;
    backdrop-filter: blur(6px);
    -webkit-mask: linear-gradient(to bottom, transparent 0%, white 100%);
    pointer-events: none;
}

#blurtop {
    position: fixed;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    backdrop-filter: blur(6px);
    -webkit-mask: linear-gradient(to top, transparent 0%, white 100%);
    pointer-events: none;
}

.logo {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 80%;
    padding: 5px;
}

.homebutton {
    position: absolute;
    top: 15%;
    left: 16%;
    font-size: 12px;
    color: white;
}

.contactbutton {
    position: absolute;
    top: 15%;
    left: 40%;
    font-size: 12px;
    color: white;
}

.link {
    text-decoration: none;
    color: white;
}

    .link:visited, .link:link, .link:active {
        color: white;
    }

    .link:hover {
        color: darkgray;
    }

.index_container {
    position: fixed;
    left: 1.5%;
    top: 15%;
    height: auto;
    width: 15%;
}

.index {
    position: relative;
    left: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.indexYear {
    position: relative;
    left: 0;
    width:20%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    border: 2px solid black;
    border-radius: 8px;
    margin:0;
    padding:0;
}


.folder {
    position: absolute;
    left: 15%;
    top: 120%;
    height: auto;
    width: 78.5%;
    opacity: 0;
}

.image {
    position: relative;
    width: 80%;
    height: auto;
    vertical-align: bottom;
}

.image.button {
    opacity:0.7;
}

.image.button:hover {
    opacity:1;
}

.vid {
    position: relative;
    width: 50%;
    height: auto;
    vertical-align: bottom;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    left: 10%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.description {
    position: fixed;
    left: 80%;
    top: 15%;
    font-size: 12px;
    width: 17%;
    height: auto;
    text-align: justify;
    text-justify: inter-character;
}


p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

::selection {
    color:rgb(148, 250, 180);
}

.a {
    text-decoration: none;
}

    .a:visited, .a:link, .a:active {
        color: black;
    }

.copyright {
    color: black;
    font-size: 10px;
    position: fixed;
    bottom: 1%;
    right: 0;
    text-align: right;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    opacity: 0.2;
}

    .copyright:hover {
        opacity: 1;
    }